
/* GLOBAL SECTION STYLES START */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* GLOBAL SECTION STYLES END */

  /* GENERAL HTML SECTION STYLES START */
  body {
    color: cornflowerblue;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
      display: flex;
      justify-content: space-between;
    padding: 20px 35px;
  }

  header a {
    text-decoration: none;
    padding: 4px;
    color: inherit;
  }

  header h1 {
    display: inline;
    margin: 2pt;
    font-size: 36px;
  }

  header nav {
    float: right;
  }

  header nav ul li {
    display: inline;
    justify-content: center;
  }

  address {
    padding: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
    Padding: 10px;
}
 /* GENERAL HTML SECTION STYLES END */


 
/* ME SECTION STYLES START */
  .me {
    display: flex;
    background-color: #000000;
    padding: 20px;
      size: 300px;
    flex-direction: column;
  }
  .me h2 {
    padding: 1px;
      text-align: center;
    
  }

  .me img {
      display:block;
      margin: 0 auto;
      padding: 20px;
      width: 50%;
  }
  .me p{
      font-size: large;
      padding: 20px;
  }
/* ME SECTION STYLES END */

/* WORK SECTION STYLES START */

  .work {
      padding: 20px;
  }
  .flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}
.work h2 {
    text-align: center;
}
.work img {
    padding: 20px;
}
  .runbuddy img {
    width: 70%;
    padding: 20px;
  }
  
  .flux img {
    width: 40%;
    padding: 20px;
  }
  
  .project2 img {
    width: 40%;
    padding: 20px;
  }

  /* WORK SECTION STYLES END */

  /* CONTACT INFO SECTION STYLES START */

  .contact {
      padding: 10pt;
      background-color: black;
      color: cornflowerblue;
  }

  .contact h2 {
    text-align: center;
  }

  /* CONTACT INFO SECTION STYLES END */


  /*DUDE SPAN STYLES START */

  .dude::before {
    font-weight: bolder;
    color: rgb(209, 50, 2);
    content: "ヽ(ಠ_ಠ) ノ";
  }

  /*DUDE SPAN STYLES ENDS */


  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  
  
  body {
    color: rgb(100, 237, 141);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .dude::before {
    font-weight: bolder;
    color: rgb(6, 240, 65);
    content: "ヽ(ಠ_ಠ) ノ";
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  body {
    color: rgb(107, 0, 247);
    font-family: Helvetica, Arial, sans-serif;
  }

  .dude::before {
    font-weight:bolder;
    color:rgb(107, 0, 247);
    content: "ヽ(ಠ_ಠ) ノ";
  }
}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  body {
    color: rgb(200, 255, 0);
    font-family: Helvetica, Arial, sans-serif;
  }

  .dude::before {
    font-weight:bolder;
    color:rgb(200, 255, 0);
    content: "ヽ(ಠ_ಠ) ノ";
  }
}
