
/* GLOBAL SECTION STYLES START */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* GLOBAL SECTION STYLES END */

  /* GENERAL HTML SECTION STYLES START */
  body {
    color: cornflowerblue;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
      display: flex;
      justify-content: space-between;
    padding: 20px 35px;
  }

  header h1 {
    display: inline;
    margin: 2pt;
    font-size: 36px;
  }

  header nav {
    float: right;
  }

  header nav ul li {
    display: inline;
    justify-content: center;
  }

  address {
    padding: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
    Padding: 10px;
}
 /* GENERAL HTML SECTION STYLES END */


 
/* ME SECTION STYLES START */
  .me {
    display: flex;
    background-color: #000000;
    padding: 20px;
      size: 300px;
    flex-direction: column;
  }
  .me h2 {
    padding: 1px;
      text-align: center;
    
  }

  .me img {
      display:block;
      margin: 0 auto;
      padding: 20px;
  }
  .me p{
      font-size: large;
      padding: 20px;
  }
/* ME SECTION STYLES END */

/* WORK SECTION STYLES START */

  .work {
      padding: 20px;
  }
  .flexcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.work h2 {
    text-align: center;
}
.work img {
    height: 200pt;
    padding: 20px;
}
  .runbuddy img {
    height: 500px;
    padding: 20px;
  }
  

  /* WORK SECTION STYLES END */

  /* CONTACT INFO SECTION STYLES START */

  .contact {
      padding: 10pt;
      background-color: black;
      color: cornflowerblue;
  }
 

  /* CONTACT INFO SECTION STYLES END */


  /*DUDE SPAN STYLES START */


  

  .dude::before {
    font-weight: bold;
    color: rgb(209, 50, 2);
    content: "ヽ(ಠ_ಠ) ノ";
  }